@function stringify($-value) {
    @return inspect($-value);
}

@mixin box-sizing-border-box {
    -moz-box-sizing   : border-box;
    -ms-box-sizing    : border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing : border-box;
    box-sizing        : border-box;
}

@mixin bg-clip-padding-box {
    -moz-background-clip   : padding;
    -webkit-background-clip: padding-box;
    background-clip        : padding-box;
}

@mixin text-overflow-ellipsis {
    -o-text-overflow : ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow    : ellipsis;
}

@mixin box-shadow-none {
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    box-shadow        : none;
}

@mixin box-shadow($-first, $-second, $-third, $-direction:initial, $-r:0, $-g:0, $-b:0, $-a:.15) {
    -webkit-box-shadow: $-first $-second $-third rgba($-r, $-g, $-b, $-a) $-direction;
    -moz-box-shadow   : $-first $-second $-third rgba($-r, $-g, $-b, $-a) $-direction;
    box-shadow        : $-first $-second $-third rgba($-r, $-g, $-b, $-a) $-direction;
}

@mixin box-shadow-two-args($-firstArgA, $-firstArgB, $-secondArgA, $-secondArgB, $-thirdArgA, $-thirdArgB, $-directionArgA:initial, $-directionArgB:initial, $-rArgA, $-gArgA, $-bArgA, $-aArgA, $-rArgB, $-gArgB, $-bArgB, $-aArgB) {
    -webkit-box-shadow: $-firstArgA $-secondArgA $-thirdArgA rgba($-rArgA, $-gArgA, $-bArgA, $-aArgA) $-directionArgA,
        $-firstArgB $-secondArgB $-thirdArgB rgba($-rArgB, $-gArgB, $-bArgB, $-aArgB) $-directionArgB;

    -moz-box-shadow: $-firstArgA $-secondArgA $-thirdArgA rgba($-rArgA, $-gArgA, $-bArgA, $-aArgA) $-directionArgA,
        $-firstArgB $-secondArgB $-thirdArgB rgba($-rArgB, $-gArgB, $-bArgB, $-aArgB) $-directionArgB;

    box-shadow: $-firstArgA $-secondArgA $-thirdArgA rgba($-rArgA, $-gArgA, $-bArgA, $-aArgA) $-directionArgA,
        $-firstArgB $-secondArgB $-thirdArgB rgba($-rArgB, $-gArgB, $-bArgB, $-aArgB) $-directionArgB;
}

@mixin linear-gradient-four($-first-color, $-first-purcent, $-second-color, $-second-purcent, $-third-color, $-third-purcent, $-fourth-color, $-fourth-purcent) {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop($-first-purcent, $-first-color), color-stop($-second-purcent, $-second-color), color-stop($-third-purcent, $-third-color), color-stop($-fourth-purcent, $-fourth-color));
    background-image: -webkit-linear-gradient(top, $-first-color $-first-purcent, $-second-color $-second-purcent, $-third-color $-third-purcent, $-fourth-color $-fourth-purcent);
    background-image: -moz-linear-gradient(top, $-first-color $-first-purcent, $-second-color $-second-purcent, $-third-color $-third-purcent, $-fourth-color $-fourth-purcent);
    background-image: -o-linear-gradient(top, $-first-color $-first-purcent, $-second-color $-second-purcent, $-third-color $-third-purcent, $-fourth-color $-fourth-purcent);
    background-image: linear-gradient($-first-color $-first-purcent, $-second-color $-second-purcent, $-third-color $-third-purcent, $-fourth-color $-fourth-purcent);
}

@mixin linear-gradient-two($-first-color, $-first-purcent, $-second-color, $-second-purcent) {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop($-first-purcent, $-first-color), color-stop($-second-purcent, $-second-color));
    background-image: -webkit-linear-gradient(top, $-first-color $-first-purcent, $-second-color $-second-purcent);
    background-image: -moz-linear-gradient(top, $-first-color $-first-purcent, $-second-color $-second-purcent);
    background-image: -o-linear-gradient(top, $-first-color $-first-purcent, $-second-color $-second-purcent);
    background-image: linear-gradient($-first-color $-first-purcent, $-second-color $-second-purcent);
}

@mixin linear-gradient-two-url($-url-to-img, $-repeat, $-first-pos, $-second-pos, $-first-color, $-first-purcent, $-second-color, $-second-purcent) {
    $url-to-img: stringify($-url-to-img);

    background: $-second-color url($url-to-img) $-repeat $-first-pos $-second-pos;
    background: url($url-to-img) $-repeat $-first-pos $-second-pos,
        -webkit-gradient(linear, 0 0, 0 100%, color-stop($-first-purcent, $-first-color), color-stop($-second-purcent, $-second-color));
    background: url($url-to-img) $-repeat $-first-pos $-second-pos,
        -webkit-linear-gradient(top, $-first-color $-first-purcent, $-second-color $-second-purcent);
    background: url($url-to-img) $-repeat $-first-pos $-second-pos,
        -moz-linear-gradient(top, $-first-color $-first-purcent, $-second-color $-second-purcent);
    background: url($url-to-img) $-repeat $-first-pos $-second-pos,
        -o-linear-gradient(top, $-first-color $-first-purcent, $-second-color $-second-purcent);
    background: url($url-to-img) $-repeat $-first-pos $-second-pos,
        linear-gradient($-first-color $-first-purcent, $-second-color $-second-purcent);
}

@mixin border-radius($-leftValue, $-upValue, $-rightValue, $-downValue) {
    -webkit-border-radius: $-leftValue $-upValue $-rightValue $-downValue;
    -moz-border-radius   : $-leftValue $-upValue $-rightValue $-downValue;
    border-radius        : $-leftValue $-upValue $-rightValue $-downValue;
}

@mixin border-bottom-left-radius($-value) {
    -webkit-border-bottom-left-radius: $-value;
    -moz-border-radius-bottomleft    : $-value;
    border-bottom-left-radius        : $-value;
}

@mixin border-bottom-right-radius($-value) {
    -webkit-border-bottom-right-radius: $-value;
    -moz-border-radius-bottomright    : $-value;
    border-bottom-right-radius        : $-value;
}


$white: #fff;

body {
    background : #f4f4f4;
    color      : #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3;
    padding    : 50px 30%;
}

select {
    width: 50%;
}

.chzn {
    &-container {
        font-size     : 13px;
        position      : relative;
        display       : inline-block;
        vertical-align: middle;
        zoom          : 1;
        *display      : inline;

        &-single {
            &-nosearch {
                .chzn {
                    &-search {
                        position: absolute;
                        left    : -9999px;
                    }
                }
            }

            .chzn {
                &-single {
                    background-color: #fff;
                    border          : 1px solid #aaa;
                    display         : block;
                    overflow        : hidden;
                    white-space     : nowrap;
                    position        : relative;
                    height          : 23px;
                    line-height     : 24px;
                    padding         : 0 0 0 8px;
                    color           : #444;
                    text-decoration : none;
                    filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0);
                    @include linear-gradient-four($white, 20%, #f6f6f6, 50%, #eee, 52%, #f4f4f4, 100%);
                    @include border-radius(5px, 5px, 5px, 5px);
                    @include bg-clip-padding-box;
                    @include box-shadow-two-args(0, 0, 0, 1px, 3px, 1px, inset, initial, 255, 255, 255, 1, 0, 0, 0, .1);

                    span {
                        margin-right: 26px;
                        display     : block;
                        overflow    : hidden;
                        white-space : nowrap;
                        @include text-overflow-ellipsis;
                    }

                    abbr {
                        display   : block;
                        position  : absolute;
                        right     : 26px;
                        top       : 6px;
                        width     : 12px;
                        height    : 12px;
                        font-size : 1px;
                        background: url('img/chosen-sprite.png') -42px 1px no-repeat;

                        &:hover {
                            background-position: -42px -10px;
                        }
                    }

                    div {
                        position: absolute;
                        right   : 0;
                        top     : 0;
                        display : block;
                        height  : 100%;
                        width   : 18px;

                        b {
                            background: url('img/chosen-sprite.png') no-repeat 0 2px;
                            display   : block;
                            width     : 100%;
                            height    : 100%;
                        }
                    }

                }

                &-search {
                    padding    : 3px 4px;
                    position   : relative;
                    margin     : 0;
                    white-space: nowrap;
                    z-index    : 1010;

                    input {
                        margin     : 1px 0;
                        padding    : 4px 20px 4px 5px;
                        outline    : 0;
                        border     : 1px solid #aaa;
                        font-family: sans-serif;
                        font-size  : 1em;
                        width      : 100%;
                        @include box-sizing-border-box;
                        @include linear-gradient-two-url('img/chosen-sprite.png', no-repeat, 100%, -20px, #eee, 1%, #fff, 15%);
                    }
                }

                &-default {
                    color: #999;
                }
            }

            &.chzn {
                &-disabled {
                    .chzn {
                        &-single {
                            abbr {
                                &:hover {
                                    background-position: -42px -10px;
                                }
                            }
                        }
                    }
                }

                &-rtl {
                    .chzn {
                        &-single {
                            div {
                                b {
                                    background-position: 6px 2px;
                                }
                            }
                        }
                    }

                    &.chzn {
                        &-with {
                            &-drop {
                                .chzn {
                                    &-single {
                                        div {
                                            b {
                                                background-position: -12px 2px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .chzn {
                &-drop {
                    margin-top: -1px;
                    @include border-radius(0, 0, 4px, 4px);
                    @include bg-clip-padding-box;
                }
            }
        }

        .chzn {
            &-with {
                &-drop {
                    .chzn {
                        &-drop {
                            left: 0;
                        }
                    }
                }
            }

            &-results {
                margin                    : 0 4px 4px 0;
                max-height                : 240px;
                padding                   : 0 0 0 4px;
                position                  : relative;
                overflow-x                : hidden;
                overflow-y                : auto;
                -webkit-overflow-scrolling: touch;

                li {
                    display    : none;
                    line-height: 15px;
                    padding    : 5px 6px;
                    margin     : 0;
                    list-style : none;

                    em {
                        background-color: #feffde;
                        font-style      : normal;
                    }
                }

                .active {
                    &-result {
                        cursor : pointer;
                        display: list-item;
                    }
                }

                .highlighted {
                    background-color: #3875d7;
                    color           : #fff;
                    filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0);
                    @include linear-gradient-two(#3875d7, 20%, #2a62bc, 90%);

                    em {
                        background: transparent;
                    }
                }

                .no-results {
                    background: #f4f4f4;
                    display   : list-item;
                }

                .group {
                    &-result {
                        cursor     : default;
                        color      : #999;
                        font-weight: bold;
                    }

                    &-option {
                        padding-left: 15px;
                    }
                }

                &-scroll {
                    background: white;
                    margin    : 0 4px;
                    position  : absolute;
                    text-align: center;
                    width     : 321px;
                    /* This should by dynamic with js */
                    z-index: 1;

                    span {
                        display    : inline-block;
                        height     : 17px;
                        text-indent: -5000px;
                        width      : 9px;
                    }

                    &-down {
                        bottom: 0;

                        span {
                            background: url('img/chosen-sprite.png') no-repeat -4px -3px;
                        }
                    }

                    &-up {
                        span {
                            background: url('img/chosen-sprite.png') no-repeat -22px -3px;
                        }
                    }
                }
            }

            &-drop {
                background: #fff;
                border    : 1px solid #aaa;
                border-top: 0;
                position  : absolute;
                top       : 100%;
                left      : -9999px;
                z-index   : 1010;
                width     : 100%;
                @include box-shadow(0, 4px, 5px);
                @include box-sizing-border-box;
            }
        }

        &-multi {
            .chzn {
                &-choices {
                    background-color: #fff;
                    border          : 1px solid #aaa;
                    margin          : 0;
                    padding         : 0;
                    cursor          : text;
                    overflow        : hidden;
                    height          : auto !important;
                    height          : 1%;
                    position        : relative;
                    width           : 100%;
                    @include box-sizing-border-box;
                    @include linear-gradient-two(#eee, 1%, #fff, 15%);

                    li {
                        float     : left;
                        list-style: none;
                    }

                    .search {
                        &-field {
                            white-space: nowrap;
                            margin     : 0;
                            padding    : 0;

                            input {
                                color      : #666;
                                background : transparent !important;
                                border     : 0 !important;
                                font-family: sans-serif;
                                font-size  : 100%;
                                height     : 15px;
                                padding    : 5px;
                                margin     : 1px 0;
                                outline    : 0;
                                @include box-shadow-none;
                            }

                            .default {
                                color: #999;
                            }
                        }

                        &-choice {
                            background-color: #e4e4e4;
                            color           : #333;
                            border          : 1px solid #aaaaaa;
                            line-height     : 13px;
                            padding         : 3px 20px 3px 5px;
                            margin          : 3px 0 3px 5px;
                            position        : relative;
                            cursor          : default;
                            filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eee', GradientType=0);
                            @include linear-gradient-four(#f4f4f4, 20%, #f0f0f0, 50%, #e8e8e8, 52%, #eee, 100%);
                            @include bg-clip-padding-box;
                            @include border-radius(3px, 3px, 3px, 3px);
                            @include box-shadow-two-args(0, 0, 0, 1px, 2px, 0, inset, initial, 255, 255, 255, 1, 0, 0, 0, .05);

                            &.search {
                                &-choice {
                                    &-disabled {
                                        background-color: #e4e4e4;
                                        color           : #666;
                                        border          : 1px solid #cccccc;
                                        padding-right   : 5px;
                                        filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eee', GradientType=0);
                                        @include linear-gradient-four(#f4f4f4, 20%, #f0f0f0, 50%, #e8e8e8, 52%, #eee, 100%);
                                    }
                                }
                            }

                            &-focus {
                                background: #d4d4d4;

                                .search {
                                    &-choice {
                                        &-close {
                                            background-position: -42px -10px;
                                        }
                                    }
                                }
                            }

                            .search {
                                &-choice {
                                    &-close {
                                        display   : block;
                                        position  : absolute;
                                        right     : 3px;
                                        top       : 4px;
                                        width     : 12px;
                                        height    : 12px;
                                        font-size : 1px;
                                        background: url('img/chosen-sprite.png') -42px 1px no-repeat;

                                        &:hover {
                                            background-position: -42px -10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &-results {
                    margin : 0;
                    padding: 0;
                }

                &-drop {
                    .result {
                        &-selected {
                            display: none;
                        }
                    }
                }
            }
        }

        &-active {
            .chzn {
                &-single {
                    border: 1px solid #5897fb;
                    @include box-shadow(0, 0, 5px, initial, 0, 0, 0, .3);
                }

                &-choices {
                    border: 1px solid #5897fb;
                    @include box-shadow(0, 0, 5px, initial, 0, 0, 0, .3);

                    .search {
                        &-field {
                            input {
                                color: #111 !important;
                            }
                        }
                    }
                }
            }

            &.chzn {
                &-with {
                    &-drop {
                        .chzn {
                            &-single {
                                border          : 1px solid #aaa;
                                background-color: #eee;
                                filter          : progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#fff', GradientType=0);
                                @include linear-gradient-two(#eee, 20%, #fff, 80%);
                                @include box-shadow(0, 1px, 0, inset, 255, 255, 255, 1);
                                @include border-bottom-left-radius(0);
                                @include border-bottom-right-radius(0);

                                div {
                                    background : transparent;
                                    border-left: none;

                                    b {
                                        background-position: -18px 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-disabled {
        cursor : default;
        opacity: .5 !important;

        .chzn {
            &-single {
                cursor: default;
            }

            &-choices {
                .search {
                    &-choice {
                        .search {
                            &-choice {
                                &-close {
                                    cursor: default;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    &-rtl {
        text-align: right;

        .chzn {
            &-single {
                padding : 0 8px 0 0;
                overflow: visible;

                span {
                    margin-left : 26px;
                    margin-right: 0;
                    direction   : rtl;
                }

                div {
                    left : 3px;
                    right: auto;
                }

                abbr {
                    left : 26px;
                    right: auto;
                }
            }

            &-choices {
                .search {
                    &-field {
                        input {
                            direction: rtl;
                        }
                    }

                    &-choice {
                        padding: 3px 5px 3px 19px;
                        margin : 3px 5px 3px 0;

                        .search {
                            &-choice {
                                &-close {
                                    left : 4px;
                                    right: auto;
                                }
                            }
                        }
                    }
                }

                li {
                    float: right;
                }
            }

            &-search {
                left: 9999px;

                input {
                    padding  : 4px 5px 4px 20px;
                    direction: rtl;
                    @include linear-gradient-two-url('img/chosen-sprite.png', no-repeat, -30px, -20px, #eee, 1%, #fff, 15%);
                }
            }

            &-drop {
                left: 9999px;
            }

            &-results {
                .group {
                    &-option {
                        padding-left : 0;
                        padding-right: 15px;
                    }
                }
            }
        }

        &.chzn {
            &-with {
                &-drop {
                    .chzn {
                        &-search {
                            left: 0;
                        }
                    }
                }
            }

            &-container {
                &-single {
                    .chzn {
                        &-results {
                            margin : 0 0 4px 4px;
                            padding: 0 4px 0 0;
                        }
                    }
                }

                &-active {
                    &.chzn {
                        &-with {
                            &-drop {
                                .chzn {
                                    &-single {
                                        div {
                                            border-right: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 144dpi) {

    .chzn-rtl .chzn-search input,
    .chzn-container-single .chzn-single abbr,
    .chzn-container-single .chzn-single div b,
    .chzn-container-single .chzn-search input,
    .chzn-container-multi .chzn-choices .search-choice .search-choice-close,
    .chzn-container .chzn-results-scroll-down span,
    .chzn-container .chzn-results-scroll-up span {
        background-image : url('../img/chosen-sprite@2x.png') !important;
        background-repeat: no-repeat !important;
        background-size  : 52px 37px !important;
    }
}